    {{ define "content" }}
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {{ range $key, $value := . }}
                    <tr>
                        <td>{{printf "%s" $key }}</td>
                        <td>{{printf "%.0f" $value }}</td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    {{ end }}
