    {{ define "content" }}
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Stats</th>
                </tr>
            </thead>
            <tbody>
                {{ range $key, $value := . }}
                    <tr>
                        <td>{{printf "%s" $value }}</td>
                        <td>
                            <a href="/controller/visits/{{ $value }}">Controller Visits</a>
                        </td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    {{ end }}
